<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
  <form [formGroup]="funcionarioForm">
    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="nome"
        name="nome"
        p-clean
        [p-label]="this.literals.fields.form['nome']"
        p-maxlength="45"
        [p-readonly]="readonly"
        p-required
      >
      </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding po-required">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="cpf"
        name="cpf"
        p-clean
        p-required
        [p-label]="this.literals.fields.form['cpf']"
        p-maxlength="18"
        p-mask="999.999.999-99"
        [p-readonly]="readonly"
      >
      </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding po-required">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="email"
        name="email"
        p-clean
        p-required
        [p-label]="this.literals.fields.form['email']"
        p-maxlength="200"
        [p-readonly]="readonly"
      >
      </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding po-required">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="telefone"
        name="telefone"
        p-clean
        p-required
        [p-label]="this.literals.fields.form['telefone']"
        p-maxlength="20"
        p-mask="(99) 99999-9999"
        [p-readonly]="readonly"
      >
      </po-input>
    </div>

    <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
      <po-lookup
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="profileId"
        name="profileId"
        p-field-label="label"
        p-field-value="value"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="profileIdService"
        [p-label]="this.literals.fields.form['profileId']"
        p-required
        [p-columns]="columnsFornecedor"
      >
      </po-lookup>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="cargo"
        name="cargo"
        p-clean
        [p-label]="this.literals.fields.form['cargo']"
        p-maxlength="200"
        [p-readonly]="readonly"
      >
      </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="cep"
        name="cep"
        p-clean
        p-mask="99999-999"
        (p-change)="onCepChange($event)"
        [p-label]="this.literals.fields.form['cep']"
        p-maxlength="10"
        [p-readonly]="readonly"
      >
      </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="estadoId"
        name="estadoId"
        (p-change)="estadoIdChange($event)"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="estadoIdService"
        [p-label]="this.literals.fields.form['estadoId']"
      >
      </po-combo>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="cidadeId"
        name="cidadeId"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="cidadeIdService"
        [p-label]="this.literals.fields.form['cidadeId']"
      >
      </po-combo>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="bairro"
        name="bairro"
        p-clean
        [p-label]="this.literals.fields.form['bairro']"
        p-maxlength="60"
        [p-readonly]="readonly"
      >
      </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="endereco"
        name="endereco"
        p-clean
        [p-label]="this.literals.fields.form['endereco']"
        p-maxlength="255"
        [p-readonly]="readonly"
      >
      </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-number
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="numero"
        name="numero"
        p-clean
        [p-label]="this.literals.fields.form['numero']"
        p-maxlength="10"
        [p-readonly]="readonly"
      >
      </po-number>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="complemento"
        name="complemento"
        p-clean
        [p-label]="this.literals.fields.form['complemento']"
        p-maxlength="60"
        [p-readonly]="readonly"
      >
      </po-input>
    </div>
  </form>
</po-page-default>
