<!-- <app-custom-table
  [pageTitle]="this.literals.title"
  route="fechamentos"
  [initialFields]="initialFields"
> </app-custom-table> -->

<po-page-default p-title="Fechamentos">
  <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12">
    <form [formGroup]="fechamentoForm">
      <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <po-button p-kind="primary" p-label="Fechamento por Período" class="po-sm-4 po-md-4 po-lg-4 po-xl-4" (p-click)="openModal('periodo')"> </po-button>
        <po-button p-kind="primary" p-label="Fechamento por Produto" class="po-sm-4 po-md-4 po-lg-4 po-xl-4" (p-click)="openModal('produto')"> </po-button>
        <po-button p-kind="primary" p-label="Fechamento por Cliente" class="po-sm-4 po-md-4 po-lg-4 po-xl-4" (p-click)="openModal('cliente')"> </po-button>
      </div>

      <po-divider class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding po-mt-1" p-label="Fechamento 12 Meses"> </po-divider>

      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
        <po-decimal
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
          formControlName="caixa12meses"
          name="caixa12meses"
          p-clean
          p-label="Entradas ultimos 12 Meses"
          p-maxlength="10"
          p-readonly="true"
          p-decimal-maxlength="2"
          p-icon="fa-solid fa-dollar-sign"
          p-readolny="true"
        >
        </po-decimal>
      </div>
      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
        <po-decimal
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
          formControlName="controle_despesas12meses"
          name="controle_despesas12meses"
          p-clean
          p-label="Gastos ultimos 12 Meses"
          p-maxlength="10"
          p-readonly="true"
          p-decimal-maxlength="2"
          p-icon="fa-solid fa-dollar-sign"
          p-readolny="true"
        >
        </po-decimal>
      </div>
      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
        <po-decimal
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
          formControlName="fechamento12meses"
          name="fechamento12meses"
          p-clean
          p-label="Fechamento ultimos 12 Meses"
          p-maxlength="10"
          p-readonly="true"
          p-decimal-maxlength="2"
          p-icon="fa-solid fa-dollar-sign"
          p-readolny="true"
        >
        </po-decimal>
      </div>

      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding po-mt-4">
        <po-button p-label="Download Excel" p-icon="po-icon-download" class="po-sm-12 po-md-12 po-lg-12 po-xl-12" (p-click)="getFechamento('ultimos_12_meses')">
        </po-button>
      </div>

      <po-divider class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding" p-label="Fechamento 4 Semanas"> </po-divider>

      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
        <po-decimal
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
          formControlName="caixa4Semanas"
          name="caixa4Semanas"
          p-clean
          p-label="Entradas ultimas 4 Semanas"
          p-maxlength="10"
          p-readonly="true"
          p-decimal-maxlength="2"
          p-icon="fa-solid fa-dollar-sign"
          p-readolny="true"
        >
        </po-decimal>
      </div>
      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
        <po-decimal
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
          formControlName="controle_despesas4Semanas"
          name="controle_despesas4Semanas"
          p-clean
          p-label="Gastos ultimas 4 Semanas"
          p-maxlength="10"
          p-readonly="true"
          p-decimal-maxlength="2"
          p-icon="fa-solid fa-dollar-sign"
          p-readolny="true"
        >
        </po-decimal>
      </div>
      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
        <po-decimal
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
          formControlName="fechamento4Semanas"
          name="fechamento4Semanas"
          p-clean
          p-label="Fechamento ultimas 4 Semanas"
          p-maxlength="10"
          p-readonly="true"
          p-decimal-maxlength="2"
          p-icon="fa-solid fa-dollar-sign"
          p-readolny="true"
        >
        </po-decimal>
      </div>

      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding po-mt-4">
        <po-button
          p-label="Download Excel"
          p-icon="po-icon-download"
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
          (p-click)="getFechamento('ultimas_4_semanas')"
        >
        </po-button>
      </div>

      <po-divider class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding" p-label="Fechamento 7 Dias"> </po-divider>

      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
        <po-decimal
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
          formControlName="caixa7dias"
          name="caixa7dias"
          p-clean
          p-label="Entradas nos ultimos 7 Dias"
          p-maxlength="10"
          p-readonly="true"
          p-decimal-maxlength="2"
          p-icon="fa-solid fa-dollar-sign"
          p-readolny="true"
        >
        </po-decimal>
      </div>
      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
        <po-decimal
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
          formControlName="controle_despesas7dias"
          name="controle_despesas7dias"
          p-clean
          p-label="Gastos nos ultimos 7 Dias"
          p-maxlength="10"
          p-readonly="true"
          p-decimal-maxlength="2"
          p-icon="fa-solid fa-dollar-sign"
          p-readolny="true"
        >
        </po-decimal>
      </div>
      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
        <po-decimal
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
          formControlName="fechamento7dias"
          name="fechamento7dias"
          p-clean
          p-label="Fechamento nos ultimos 7 Dias"
          p-maxlength="10"
          p-readonly="true"
          p-decimal-maxlength="2"
          p-icon="fa-solid fa-dollar-sign"
          p-readolny="true"
        >
        </po-decimal>
      </div>

      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding po-mt-4">
        <po-button p-label="Download Excel" p-icon="po-icon-download" class="po-sm-12 po-md-12 po-lg-12 po-xl-12" (p-click)="getFechamento('ultimos_7_dias')">
        </po-button>
      </div>

      <po-divider class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding" p-label="Fechamento Diário"> </po-divider>

      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
        <po-decimal
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
          formControlName="caixaHoje"
          name="caixaHoje"
          p-clean
          p-label="Entradas hoje"
          p-maxlength="10"
          p-readonly="true"
          p-decimal-maxlength="2"
          p-icon="fa-solid fa-dollar-sign"
          p-readolny="true"
        >
        </po-decimal>
      </div>
      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
        <po-decimal
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
          formControlName="controle_despesasHoje"
          name="controle_despesasHoje"
          p-clean
          p-label="Gastos hoje"
          p-maxlength="10"
          p-readonly="true"
          p-decimal-maxlength="2"
          p-icon="fa-solid fa-dollar-sign"
          p-readolny="true"
        >
        </po-decimal>
      </div>
      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
        <po-decimal
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
          formControlName="fechamentoHoje"
          name="fechamentoHoje"
          p-clean
          p-label="Fechamento hoje"
          p-maxlength="10"
          p-readonly="true"
          p-decimal-maxlength="2"
          p-icon="fa-solid fa-dollar-sign"
          p-readolny="true"
        >
        </po-decimal>
      </div>

      <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding po-mt-4">
        <po-button p-label="Download Excel" p-icon="po-icon-download" class="po-sm-12 po-md-12 po-lg-12 po-xl-12" (p-click)="getFechamento('hoje')">
        </po-button>
      </div>
    </form>
  </div>
</po-page-default>

<po-modal #modal [p-primary-action]="getFechamentoPrimaryAction" [p-secondary-action]="getFechamentoSecondaryAction" [p-title]="this.modalTypeName">
  <div *ngIf="this.modalType === 'periodo'">
    <form [formGroup]="relatorioPeriodoForm" class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
      <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
        <po-datepicker
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
          formControlName="dataInicio"
          name="dataInicio"
          p-clean
          p-label="Data Início"
          p-required
        >
        </po-datepicker>
      </div>

      <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
        <po-datepicker
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required no-padding"
          formControlName="dataFim"
          name="dataFim"
          p-clean
          p-label="Data Fim"
          p-required
        >
        </po-datepicker>
      </div>
    </form>
  </div>

  <div *ngIf="this.modalType === 'produto'" class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
    <form [formGroup]="relatorioProdutoForm" class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
      <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <po-lookup
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
          formControlName="produtoId"
          name="produtoId"
          p-field-label="label"
          p-field-value="value"
          p-clean
          [p-filter-service]="produtoIdService"
          p-label="Produtos"
          p-required
          [p-columns]="columnsFornecedor"
        >
        </po-lookup>
      </div>
    </form>
  </div>

  <div *ngIf="this.modalType === 'cliente'" class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
    <form [formGroup]="relatorioClienteForm" class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
      <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <po-lookup
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
          formControlName="clienteId"
          name="clienteId"
          p-field-label="label"
          p-field-value="value"
          p-clean
          [p-filter-service]="clienteIdService"
          p-label="Clientes"
          p-required
          [p-columns]="columnsFornecedor"
        >
        </po-lookup>
      </div>
    </form>
  </div>
</po-modal>
