<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
  <style>
    ::-webkit-scrollbar {
      height: 8px;
      width: 8px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--primary-color);
    }
  </style>
  <po-tabs>
    <po-tab p-label="Balanço" p-active="true">
      <form [formGroup]="balancoForm">
        <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
          <po-combo
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            formControlName="clienteId"
            name="clienteId"
            p-clean
            p-disabled="true"
            [p-filter-service]="clienteIdService"
            [p-label]="this.literals.fields.form['clienteId']"
            p-required
          >
          </po-combo>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
          <po-decimal
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            formControlName="saldoDevedor"
            name="saldoDevedor"
            p-clean
            [p-label]="this.literals.fields.form['saldoDevedor']"
            p-maxlength="10"
            p-readonly="true"
            p-decimal-maxlength="2"
          >
          </po-decimal>
        </div>

        <div *ngIf="isBonificado" class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
          <po-number
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            formControlName="bonificacaoDisponivel"
            name="bonificacaoDisponivel"
            p-clean
            [p-label]="this.literals.fields.form['bonificacaoDisponivel']"
            p-maxlength="10"
            p-readonly="true"
            p-decimal-maxlength="2"
          >
          </po-number>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
          <po-input
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            formControlName="garrafoesDisponivel"
            name="garrafoesDisponivel"
            p-clean
            [p-label]="this.literals.fields.form['garrafoesDisponivel']"
            p-maxlength="10"
            p-readonly="true"
            p-decimal-maxlength="2"
          >
          </po-input>
        </div>
      </form>

      <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <po-divider p-label="Adicionar Pagamento"></po-divider>
      </div>

      <form [formGroup]="addPagamentoForm" class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding po-required">
          <po-decimal
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            formControlName="valor"
            name="valor"
            p-clean
            [p-label]="this.literals.fields.form['valor']"
            p-maxlength="10"
            p-decimal-maxlength="2"
            p-required
          >
          </po-decimal>
        </div>

        <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
          <po-lookup
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
            formControlName="meioPagamentoId"
            name="meioPagamentoId"
            p-field-label="label"
            p-field-value="value"
            p-clean
            [p-disabled]="readonly"
            [p-filter-service]="meioPagamentoIdService"
            [p-label]="this.literals.fields.form['meioPagamentoId']"
            [p-columns]="columnsFornecedor"
            p-required
          >
          </po-lookup>
        </div>

        <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding po-required">
          <po-datepicker
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            p-required
            formControlName="data"
            name="data"
            p-clean
            [p-label]="this.literals.fields.form['data']"
            p-required
          >
          </po-datepicker>
        </div>

        <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding po-mt-4">
          <po-button class="po-sm-12 po-md-12 po-lg-12 po-xl-12" p-label="Adicionar" (p-click)="addPagamento()"> </po-button>
        </div>
      </form>

      <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <po-divider p-label="Entrada de Garrafões"></po-divider>
      </div>

      <form [formGroup]="addGarrafaoForm" class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <div class="po-sm-12 po-md-12 po-lg-3 po-xl-3 no-padding po-required">
          <po-number
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            formControlName="quantidade"
            name="quantidade"
            p-clean
            [p-label]="this.literals.fields.form['quantidade']"
            p-maxlength="10"
            p-required
            p-required
          >
          </po-number>
        </div>
        <div class="po-sm-12 po-md-12 po-lg-3 po-xl-3 no-padding po-required">
          <po-select
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            formControlName="tamanhoCasco"
            name="tamanhoCasco"
            [p-options]="tamanhoCasco"
            p-clean
            p-label="Tipo Casco"
            p-maxlength="10"
            p-placeholder="Selecione"
            p-required
          >
          </po-select>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-3 po-xl-3 no-padding po-required">
          <po-select
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            formControlName="isRoyalfit"
            name="isRoyalfit"
            [p-options]="tipoCasco"
            p-clean
            [p-label]="this.literals.fields.form['isRoyalFit']"
            p-maxlength="10"
            p-placeholder="Selecione"
            p-required
          >
          </po-select>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-3 po-xl-3 no-padding po-mt-4">
          <po-button class="po-sm-12 po-md-12 po-lg-12 po-xl-12" p-label="Adicionar" (p-click)="openModalGarrafao()"> </po-button>
        </div>
      </form>

      <form [formGroup]="imprimirReciboForm">
        <div class="po-sm-12 po-md-8 po-lg-8 po-xl-8 no-padding po-mt-2">
          <po-lookup
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
            formControlName="entradaId"
            name="entradaId"
            p-field-label="label"
            p-field-value="value"
            p-clean
            [p-disabled]="readonly"
            [p-filter-service]="entradaIdService"
            p-label="Reimpressão de Recibo"
            p-required
            (p-change)="onEntradaIdChange($event)"
            [p-columns]="columnsEntrada"
            p-infinite-scroll="true"
          >
          </po-lookup>
        </div>

        <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 no-padding po-mt-2">
          <po-button class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-mt-4" p-label="Imprimir" (p-click)="imprimirReciboEntrada()">
          </po-button>
        </div>
      </form>

      <div *ngIf="showBonificacao()" class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <po-divider p-label="Retirada de Bonificação"></po-divider>
      </div>

      <form *ngIf="showBonificacao()" [formGroup]="addRetiradaBonificacaoForm" class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <div class="po-sm-12 po-md-12 po-lg-9 po-xl-9 no-padding po-required">
          <po-number
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            formControlName="quantidade"
            name="quantidade"
            p-required
            p-clean
            [p-label]="this.literals.fields.form['quantidade']"
            p-maxlength="10"
            (p-change)="onChengeQuantidadeRetiradaBonificacao($event)"
          >
          </po-number>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-3 po-xl-3 no-padding po-mt-4">
          <po-button class="po-sm-12 po-md-12 po-lg-12 po-xl-12" p-label="Retirar" (p-click)="addRetiradaBonificacao()"> </po-button>
        </div>
      </form>
    </po-tab>
    <po-tab p-label="Pedidos">
      <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding" style="max-height: 75vh; overflow-y: auto">
        <po-table [p-items]="itensTable" [p-columns]="columnsTable" p-hide-columns-manager="true"> </po-table>
      </div>
    </po-tab>
    <po-tab p-label="Relatórios">
      <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <po-divider p-label="Pedidos"></po-divider>
      </div>

      <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <form [formGroup]="relatorioPedidoForm">
          <div class="po-sm-12 po-md-6 po-lg-3 po-xl-3 no-padding">
            <po-datepicker
              class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
              formControlName="dataInicio"
              name="dataInicio"
              p-clean
              [p-label]="this.literals.fields.form['dataInicio']"
              p-required
            >
            </po-datepicker>
          </div>

          <div class="po-sm-12 po-md-6 po-lg-3 po-xl-3 no-padding">
            <po-datepicker
              class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
              formControlName="dataFim"
              name="dataFim"
              p-clean
              [p-label]="this.literals.fields.form['dataFim']"
              p-required
            >
            </po-datepicker>
          </div>

          <div class="po-sm-12 po-md-6 po-lg-3 po-xl-3 no-padding po-mt-4">
            <po-button class="po-sm-12 po-md-12 po-lg-12 po-xl-12" p-label="Gerar Relatório" (p-click)="gerarRelatorioPedido()">
            </po-button>
          </div>
        </form>

        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
          <po-divider p-label="Pagamentos"></po-divider>
        </div>

        <form [formGroup]="relatorioPagamentoForm">
          <div class="po-sm-12 po-md-6 po-lg-3 po-xl-3 no-padding">
            <po-datepicker
              class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
              formControlName="dataInicio"
              name="dataInicio"
              p-clean
              [p-label]="this.literals.fields.form['dataInicio']"
              p-required
            >
            </po-datepicker>
          </div>

          <div class="po-sm-12 po-md-6 po-lg-3 po-xl-3 no-padding">
            <po-datepicker
              class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
              formControlName="dataFim"
              name="dataFim"
              p-clean
              [p-label]="this.literals.fields.form['dataFim']"
              p-required
            >
            </po-datepicker>
          </div>

          <div class="po-sm-12 po-md-6 po-lg-3 po-xl-3 no-padding po-mt-4">
            <po-button class="po-sm-12 po-md-12 po-lg-12 po-xl-12" p-label="Gerar Relatório" (p-click)="gerarRelatorioPagamento()">
            </po-button>
          </div>
        </form>

        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
          <po-divider p-label="Entrada de Garrafões"></po-divider>
        </div>

        <form [formGroup]="relatorioEntradaGarrafoesForm">
          <div class="po-sm-12 po-md-6 po-lg-3 po-xl-3 no-padding">
            <po-datepicker
              class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
              formControlName="dataInicio"
              name="dataInicio"
              p-clean
              [p-label]="this.literals.fields.form['dataInicio']"
              p-required
            >
            </po-datepicker>
          </div>

          <div class="po-sm-12 po-md-6 po-lg-3 po-xl-3 no-padding">
            <po-datepicker
              class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
              formControlName="dataFim"
              name="dataFim"
              p-clean
              [p-label]="this.literals.fields.form['dataFim']"
              p-required
            >
            </po-datepicker>
          </div>

          <div class="po-sm-12 po-md-6 po-lg-3 po-xl-3 no-padding po-mt-4">
            <po-button class="po-sm-12 po-md-12 po-lg-12 po-xl-12" p-label="Gerar Relatório" (p-click)="gerarRelatorioEntradaGarrafoes()">
            </po-button>
          </div>
        </form>
      </div>
    </po-tab>
  </po-tabs>
</po-page-default>

<po-modal
  #confirmarEntrada
  [p-primary-action]="addGarrafaoPrimaryAction"
  [p-secondary-action]="addGarrafaoSecondaryAction"
  p-title="Confirma a entrada:"
>
  <ul>
    <li>
      <h3 style="font-weight: bold"><span>Quantidade</span>: {{ addGarrafaoForm.value.quantidade }}</h3>
    </li>
    <li>
      <h3 style="font-weight: bold">Tipo: {{ addGarrafaoForm.value.isRoyalfit === 0 ? "Royal Fit" : "Não Royal Fit" }}</h3>
    </li>
  </ul>
</po-modal>
