<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
  <form [formGroup]="relatorioClienteForm">
    <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="clienteId"
        name="clienteId"
        p-clean
        p-disabled="true"
        [p-filter-service]="clienteIdService"
        [p-label]="this.literals.fields.form['clienteId']"
        p-required
      >
      </po-combo>
    </div>

    <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
      <po-datepicker
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="dataInicio"
        name="dataInicio"
        p-clean
        [p-label]="this.literals.fields.form['data']"
        p-disabled="true"
        p-required
      >
      </po-datepicker>
    </div>

    <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
      <po-number
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="quantidade"
        name="quantidade"
        p-clean
        [p-label]="this.literals.fields.form['quantidade']"
        p-disabled="true"
      >
      </po-number>
    </div>

    <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
      <po-select
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        [p-label]="this.literals.fields.form['isLiberado']"
        p-field-value="tipoCobranca"
        name="isLiberado"
        formControlName="isLiberado"
        [p-options]="isLiberadoSelect"
        p-placeholder="Selecione"
        [p-readonly]="readonly"
        p-required
        [p-disabled]="readonly"
      >
      </po-select>
    </div>
  </form>
</po-page-default>
