.no-padding {
  padding: 0px;
}

.checkbox-header {
  display: flex;
  margin-top: 37px;
  align-items: flex-end;
}

.centralizar-topico-button {
  display: flex;
  justify-content: center;
  align-items: end;
}
