<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
  <style>
    ::-webkit-scrollbar {
      height: 8px;
      width: 8px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--primary-color);
    }
    ::-webkit-scrollbar-track {
      background-color: #888;
    }
  </style>
  <po-tabs>
    <po-tab p-label="Cabeçalho" p-active="true">
      <form [formGroup]="pedidoForm">
        <!-- <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
        <po-number
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
          formControlName="sequencial"
          name="sequencial"
          p-clean
          [p-label]="this.literals.fields.form['sequencial']"
          p-maxlength="10"
          [p-readonly]="readonly"
          p-required
        >
        </po-number>
      </div> -->

        <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
          <po-combo
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
            formControlName="clienteId"
            name="clienteId"
            p-clean
            [p-disabled]="readonly"
            [p-filter-service]="clienteIdService"
            [p-label]="this.literals.fields.form['clienteId']"
            p-required
            (p-change)="onClienteIdChange($event)"
          >
          </po-combo>
        </div>

        <div class="po-sm-12 po-md-6 po-lg-3 po-xl-3 no-padding">
          <po-datepicker
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
            formControlName="data"
            name="data"
            p-clean
            [p-label]="this.literals.fields.form['data']"
            [p-readonly]="readonly"
            p-required
            (p-change)="verifyProdutos()"
          >
          </po-datepicker>
        </div>

        <div class="po-sm-12 po-md-6 po-lg-3 po-xl-3 no-padding">
          <po-input
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
            formControlName="hora"
            name="hora"
            p-clean
            [p-label]="this.literals.fields.form['hora']"
            p-maxlength="5"
            [p-readonly]="readonly"
            p-required
            p-mask="99:99"
            (p-change)="verifyProdutos()"
          >
          </po-input>
        </div>

        <!-- <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
          <po-number
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            formControlName="desconto"
            name="desconto"
            p-clean
            [p-label]="this.literals.fields.form['desconto']"
            p-maxlength="10"
            [p-readonly]="readonly"
            (p-change)="verifyProdutos()"
          >
          </po-number>
        </div> -->

        <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
          <po-combo
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
            formControlName="funcionarioId"
            name="funcionarioId"
            p-clean
            [p-disabled]="readonly"
            [p-filter-service]="funcionarioIdService"
            [p-label]="this.literals.fields.form['funcionarioId']"
            p-required
            (p-change)="verifyProdutos()"
          >
          </po-combo>
        </div>

        <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
          <po-combo
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
            formControlName="meioPagamentoId"
            name="meioPagamentoId"
            p-clean
            [p-disabled]="readonly"
            [p-filter-service]="meioPagamentoIdService"
            [p-label]="this.literals.fields.form['meioPagamentoId']"
            p-required
            (p-change)="verifyProdutos()"
          >
          </po-combo>
        </div>

        <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
          <po-select
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
            [p-label]="this.literals.fields.form['isLiberado']"
            p-field-value="tipoCobranca"
            name="isLiberado"
            formControlName="isLiberado"
            [p-options]="isLiberadoSelect"
            p-placeholder="Selecione"
            [p-readonly]="readonly"
            p-required
            [p-disabled]="readonly"
            (p-change)="verifyProdutos()"
          >
          </po-select>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
          <po-input
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            formControlName="descricao"
            name="descricao"
            p-clean
            [p-label]="this.literals.fields.form['descricao']"
            p-maxlength="255"
            [p-readonly]="readonly"
            (p-change)="verifyProdutos()"
          >
          </po-input>
        </div>

        <!-- <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
          <po-combo
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
            formControlName="statusPagamentoId"
            name="statusPagamentoId"
            p-clean
            [p-disabled]="readonly"
            [p-filter-service]="statusPagamentoIdService"
            [p-label]="this.literals.fields.form['statusPagamentoId']"
            p-required
            (p-change)="verifyProdutos()"
          >
          </po-combo>
        </div> -->

        <!-- <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
        <po-checkbox
          class="po-sm-12 po-md-12 po-lg-12 po-xl-12 checkbox-header"
          formControlName="isPagamentoPosterior"
          name="isPagamentoPosterior"
          [p-disabled]="readonly"
          [p-label]="this.literals.fields.form['isPagamentoPosterior']"
        >
        </po-checkbox>
      </div> -->
        <!-- 
        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
          <po-checkbox
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12 checkbox-header"
            formControlName="desabilitado"
            name="desabilitado"
            [p-disabled]="readonly"
            [p-label]="this.literals.fields.form['desabilitado']"
          >
          </po-checkbox>
        </div> -->
      </form></po-tab
    >
    <po-tab p-label="Produtos" [p-disabled]="disableProdutos">
      <form [formGroup]="pedidoItemForm">
        <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 no-padding">
          <po-combo
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
            formControlName="produtoId"
            name="produtoId"
            p-clean
            [p-disabled]="readonly"
            [p-filter-service]="produtoIdService"
            [p-label]="this.literals.fields.form['produtoId']"
            p-required
            (p-change)="onProdutoIdChange($event)"
          >
          </po-combo>
        </div>
        <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 no-padding">
          <po-number
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
            formControlName="quantidade"
            name="quantidade"
            p-clean
            [p-label]="this.literals.fields.form['quantidade']"
            p-maxlength="10"
            [p-readonly]="readonly"
            p-required
            (p-change)="onQuantidadeChange($event)"
          >
          </po-number>
        </div>

        <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 no-padding">
          <po-decimal
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            formControlName="valor"
            name="valor"
            p-clean
            [p-label]="this.literals.fields.form['valor']"
            p-maxlength="10"
            p-readonly="true"
            p-decimal-maxlength="2"
          >
          </po-decimal>
        </div>

        <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 no-padding" style="margin-top: 16px">
          <po-button
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            p-label="+ Adicionar Produto"
            (p-click)="addIten()"
            [p-disabled]="readonly || disableAddButton"
            p-kind="primary"
          >
          </po-button>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding po-mt-3">
          <po-divider></po-divider>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding" style="max-height: 450px; overflow-y: auto">
          <po-table [p-items]="itensTable" [p-columns]="columnsTable" [p-actions]="tableActions" [p-actions-right]="true">
          </po-table>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding" style="display: flex; justify-content: end; margin-top: 8px">
          <span style="background: var(--primary-color); padding: 8px 16px; color: white"
            >Valor Total: {{ totalPreco | currency : "BRL" }}</span
          >
        </div>
      </form>
    </po-tab>
  </po-tabs>
</po-page-default>

<po-modal
  #poModal
  p-size="sm"
  p-hide-close="true"
  [p-primary-action]="primaryAction"
  [p-secondary-action]="secondaryAction"
  p-title="Editar Produto"
  class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding"
>
  <form [formGroup]="pedidoItemFormEdit" class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
    <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="produtoId"
        name="produtoId"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="produtoIdService"
        [p-label]="this.literals.fields.form['produtoId']"
        p-required
        (p-change)="onProdutoIdChangeEdit($event)"
      >
      </po-combo>
    </div>
    <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 no-padding">
      <po-number
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="quantidade"
        name="quantidade"
        p-clean
        [p-label]="this.literals.fields.form['quantidade']"
        p-maxlength="10"
        [p-readonly]="readonly"
        p-required
        (p-change)="onQuantidadeChangeEdit($event)"
      >
      </po-number>
    </div>

    <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 no-padding">
      <po-decimal
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="valor"
        name="valor"
        p-clean
        [p-label]="this.literals.fields.form['valor']"
        p-maxlength="10"
        p-readonly="true"
        p-decimal-maxlength="2"
      >
      </po-decimal>
    </div>
  </form>
</po-modal>
