<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
  <form [formGroup]="statusPagamentoForm">
    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="item"
        name="item"
        p-clean
        [p-label]="this.literals.fields.form['item']"
        p-maxlength="255"
        [p-readonly]="readonly"
        p-required
      >
      </po-input>
    </div>

    <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding po-required">
      <po-number
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="quantidade"
        name="quantidade"
        p-clean
        [p-label]="this.literals.fields.form['quantidade']"
        [p-readonly]="readonly"
        p-required
      >
      </po-number>
    </div>

    <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding po-required">
      <po-number
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="quantidadeMin"
        name="quantidadeMin"
        p-clean
        [p-label]="this.literals.fields.form['quantidadeMin']"
        [p-readonly]="readonly"
        p-required
      >
      </po-number>
    </div>
  </form>
</po-page-default>
